# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app

# cmake build
/build/*
!/build/linux/make-Makefiles.bash
!/build/msys_mingw64/make-mingw64-Makefiles-Debug.sh
!/build/msys_mingw64/make-mingw64-Makefiles-Release.sh
!/build/msys_mingw64/toolChain.cmake